﻿@{
    ViewBag.Title = "Dimension";
}
<table width="100%">
    <tr>
        <td align="right">
            @Html.Kendo().Button().Name("Save").Content("Save").HtmlAttributes(new { @class = "k-button k-primary", @type = "submit" })
            @{
                if (ViewBag.IsValid != null && ViewBag.IsValid)
                {
                    <span>Saved Successfullly.</span>
                }
            }
        </td>
    </tr>
    <tr><td>Please remember to click save before you leave this page.</td></tr>
</table>
@(Html.Kendo().Grid<ValuePlus.ViewModel.LocaleChainVP.AEHAWBDimViewModel>()
        .Name("grid")
        .HtmlAttributes(new { style = "height: 300px;" })
        .Scrollable()
        .Groupable()
        .Sortable()
        .Filterable()
        .Pageable(pageable => pageable
            .Refresh(true)
            .PageSizes(true)
            .ButtonCount(5))
        .DataSource(dataSource => dataSource
            .Ajax()
            .Read(read => read.Action("Search", "AMS"))
            .PageSize(20)
            .Destroy(update => update.Action("EditingInline_Destroy", "Grid")))

        .Columns(columns =>
        {
            columns.Bound(c => c.ID).Width(50);
            columns.Bound(c => c.Length).Title("Length*").Width(50);
            columns.Bound(c => c.Width).Title("Width*").Width(50);
            columns.Bound(c => c.Height).Title("Height*").Width(50);
            //columns.Bound(c => c.DIMUOM).Title("Dim UOM").Width(50);
            //columns.Command(command => {  command.Destroy(); }).Width(50);
            columns.Bound(c => c.PCS).Title("PCS*").Width(50);
            columns.Bound(c => c.VWT).Title("V.WT").Width(50);
            columns.Bound(c => c.VWTUOM).Title("VWT UOM").Width(50).EditorTemplateName("ReadOnlyTemplate");
            columns.Bound(c => c.CUFT).Title("CUFT").Width(50).EditorTemplateName("ReadOnlyTemplate");
            columns.Bound(c => c.CBM).Title("CBM").Width(50).EditorTemplateName("ReadOnlyTemplate");
        })
)

<table width="100%">
    <tr>
        <td>@Html.Kendo().Button().Name("Load").Content("Load From consoidation management").HtmlAttributes(new { @class = "k-button", @type = "submit" })</td>
        <td>Total PCS:</td>
        <td><input id="ttPCS" type="number" value="30" min="0" max="100" style="width: 150px;" /></td>
        <td>Total VWT:</td>
        <td><input id="ttVWT" type="number" value="30" min="0" max="100" style="width: 150px;" /></td>
        <td>Total CUFT:</td>
        <td><input id="ttCUFT" type="number" value="30" min="0" max="100" style="width: 150px;" /></td>
    </tr>
</table>
