﻿@*@model ValuePlus.Domain.eChainVP.AEControlBank*@

@{
    Layout = null;
}

<form id="form" post="ControlBank\Index" method="post">
    <br />
    @ViewBag.message
    @*<table>
        <tr>
            <td>@Html.Label("Number"):</td>
            <td>
                @(Html.Kendo().DropDownList()
                     .Name("Number")
                     .DataTextField("Text")
                     .DataValueField("Value")
                     .HtmlAttributes(new { style = "width: 100px;" })
                     .BindTo(new List<SelectListItem>()
                            {
                                  new SelectListItem() {
                                  Text = "MAWB#", Value ="MAWB#"
                                 },
                                 new SelectListItem() {
                                  Text = "Prefix", Value ="Prefix"
                                 }
                            })
                )
            </td>
            <td>@Html.Kendo().TextBox().Name("txtNumber").Value("")</td>
        </tr>
        <tr>
            <td>@Html.Label("DateF/T"):</td>
            <td>
                @(Html.Kendo().DropDownList()
                     .Name("ddlDateFT")
                     .DataTextField("Text")
                     .DataValueField("Value")
                     .HtmlAttributes(new { style = "width: 100px;" })
                     .BindTo(new List<SelectListItem>()
                            {
                                  new SelectListItem() {
                                  Text = "Received", Value ="Received"
                                 },
                                 new SelectListItem() {
                                  Text = "Used", Value ="Used"
                                 }
                            })
                )
            </td>
            <td>
                @(Html.Kendo().Calendar()
                        .Name("DateFrom")
                        .Min(new DateTime(2010, 1, 1, 10, 0, 0))
                        .Max(new DateTime(2020, 1, 1, 20, 0, 0))
                        .Value(DateTime.Now)
                )
            </td>
            <td>
                @(Html.Kendo().Calendar()
                        .Name("DateTo")
                        .Min(new DateTime(2010, 1, 1, 10, 0, 0))
                        .Max(new DateTime(2020, 1, 1, 20, 0, 0))
                        .Value(DateTime.Now)
                )
            </td>
            <td>@Html.Kendo().Button().Name("Seach").Content("Seach").HtmlAttributes(new { @class = "k-button k-primary", @type = "submit" })</td>
        </tr>
    </table>*@
    @*<table>
           <tr>
              <td>
                  @(Html.Kendo().Grid<ValuePlus.ViewModel.ControlBankViewModel>()
                      .Name("grid")
                      .HtmlAttributes(new { style = "height: 950px;" })
                      .Scrollable()
                      .Groupable()
                      .Sortable()
                      .Filterable()
                      .Pageable(pageable => pageable
                         .Refresh(true)
                         .PageSizes(true)
                         .ButtonCount(5))
                      .DataSource(dataSource => dataSource
                         .Ajax()
                         .Read(read => read.Action("Index", "ControlBank"))
                         .PageSize(20))
                      .Columns(columns =>
                      {
                           columns.Bound(c => c.Issuer).Title("Issuer").Width(200);
                           columns.Bound(c => c.LotNo).Title("LotNo").Width(150);
                           columns.Bound(c => c.MAWBNo).Title("MAWBNo").Width(50);
                           columns.Bound(c => c.ReceivedDate).Title("ReceivedDate").Width(50);
                      })
                 )
              </td>
           </tr>
        </table>*@
</form>

