﻿@{
    ViewBag.Title = "Edit";
}
@model ValuePlus.ViewModel.StationSearchViewModel
 <style>
     .field-validation-error
     {
        color:red;
     }
     .input-validation-error
     {
         background-color:lightcoral !important;
     }
 </style>
<form id="form" post="\home\edit" method="post">
    <br />
   
    @Html.Kendo().Button().Name("Save").Content("Save").HtmlAttributes(new { @class = "k-button k-primary", @type = "submit" })
    @Html.Kendo().Button().Name("Cancel").Content("Cancel").HtmlAttributes(new { @class = "k-button", @type = "button" })
    @{ 
        if (ViewBag.IsValid!=null && ViewBag.IsValid)
        {
            <span>Saved Successfullly.</span>
        }
    }
    <br />
    <br />
    @Html.Hidden("StationId", Model.StationId.ToString())
    @Html.Label("Code"):
    @Html.Kendo().TextBox().Name("StationCode").Value(Model.StationCode)
    @Html.ValidationMessageFor(model => model.StationCode)
    <br /><br />
    @Html.Label("Name"):
    @Html.Kendo().TextBox().Name("StationName").Value(Model.StationName).HtmlAttributes(new { style = "width: 500px;" })
    <br /><br />
    <div>
        <div style="display:inline-block;">
            <fieldset>
                <legend>Address:</legend>
                <table>
                    <tr>
                        <td>@Html.Label("Address:")</td>
                        <td>@Html.Kendo().TextBox().Name("StationAddress1").Value(Model.StationAddress1).HtmlAttributes(new { style = "width: 350px;" })</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>@Html.Kendo().TextBox().Name("StationAddress2").HtmlAttributes(new { style = "width: 350px;" })</td>
                    </tr>
                    <tr>
                        <td>@Html.Label("Country:")</td>
                        <td>
                            @(Html.Kendo().DropDownList()
                            .Name("CountryId")
                            .HtmlAttributes(new { style = "width:300px" })
                            .DataTextField("Text")
                            .DataValueField("Value")
                            .Value(Model.CountryId.ToString())
                            .DataSource(source =>
                            {
                                source.Read(read =>
                                {
                                    read.Action("GetCountries", "Home");
                                });
                            })
                            )
                        </td>
                    </tr>
                    <tr>
                        <td>@Html.Label("State:")</td>
                        <td>
                            @(Html.Kendo().DropDownList()
                            .Name("StateId")
                            .HtmlAttributes(new { style = "width:300px" })
                            .DataTextField("Text")
                            .DataValueField("Value")
                            .Value(Model.StateId.ToString())
                            .DataSource(source =>
                            {
                                source.Read(read =>
                                {
                                    read.Action("GetStates", "Home").Data("statesParams");
                                }).ServerFiltering(true);
                            })
                            .CascadeFrom("CountryId")
                            )
                        </td>
                    </tr>
                    <tr>
                        <td>@Html.Label("City:")</td>
                        <td>
                            @(Html.Kendo().DropDownList()
                            .Name("CityId")
                            .HtmlAttributes(new { style = "width:300px" })
                            .DataTextField("Text")
                            .DataValueField("Value")
                            .Value(Model.CityId.ToString())
                            .DataSource(source =>
                            {
                                source.Read(read =>
                                {
                                    read.Action("GetCities", "Home").Data("citiesParams");
                                }).ServerFiltering(true);
                            })
                            .CascadeFrom("StateId"))
                        </td>
                    </tr>
                    <tr>
                        <td>@Html.Label("Zip:")</td>
                        <td>@Html.Kendo().TextBox().Name("StationZIP").Value(Model.StationZIP).HtmlAttributes(new { style = "width: 250px;" })</td>
                    </tr>
                </table>
            </fieldset>
        </div>
        <div style="display:inline-block;">
            <fieldset>
                <legend>General:</legend>
                <table>

                    <tr>
                        <td>@Html.Label("Default Gateway City:")</td>
                        <td>
                            @(Html.Kendo().AutoComplete()
                            .Name("gatewayCity")
                            .DataTextField("CityCode")
                            .MinLength(1)
                            .HtmlAttributes(new { style = "width:300px" })
                            .DataSource(source =>
                            {
                                source.Read(read =>
                                {
                                    read.Action("GetCitiesByText", "Home")
                                   .Data("gatewayCityParams");
                                }).ServerFiltering(true);
                            })
                            )
                        </td>
                    </tr>
                </table>
            </fieldset>
        </div>
    </div>
</form>
<script type="text/javascript">

    function statesParams() {
        return {
            countryId: $("#CountryId").val()
        };
    };

    function citiesParams() {
        return {
            countryId: $("#CountryId").val(),
            stateId: $("#StateId").val()
        };
    };

    function gatewayCityParams() {
        return {
            text: $("#gatewayCity").val()
        };
    };
</script>
