﻿@{
    ViewBag.Title = "Home";
}


@(Html.Kendo().Grid<ValuePlus.ViewModel.StationSearchViewModel>()
        .Name("grid")
        .HtmlAttributes(new { style = "height: 550px;" })
        .Scrollable()
        .Groupable()
        .Sortable()
        .Filterable()
        .Pageable(pageable => pageable
            .Refresh(true)
            .PageSizes(true)
            .ButtonCount(5))
        .DataSource(dataSource => dataSource
            .Ajax()
            .Read(read => read.Action("Search", "Home"))
            .PageSize(20))
        .Columns(columns =>
        {
            columns.Bound(c => c.StationId).Width(50);
            columns.Bound(c => c.StationCode).Title("Code").Width(50)
                .ClientTemplate("<a href='/Home/Edit?custid=#= StationId#'>#=StationCode#</a>");
            columns.Bound(c => c.StationName).Title("Name").Width(200);
            columns.Bound(c => c.StationAddress1).Title("Address").Width(150);
            columns.Bound(c => c.CityCode).Title("City").Width(50);
            columns.Bound(c => c.CountryCode).Title("Country").Width(50);
            columns.Bound(c => c.Status).Title("Status").Width(50);
            columns.Bound(c => c.LocalWebURL).Title("Web URL").Width(100)
                .ClientTemplate("#= LocalWebURL #:#= LocalWebPort #");


        })
)
